@import url('https://fonts.googleapis.com/css?family=Oswald:300,400');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    background-color: white;
}

h1, .card-title {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: #586874;
    font-size: 3em;
}

a, p, label {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #586874;
    font-size: 1.25rem;
    line-height: 1.5rem;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

/*---- NAVBAR ----*/

.navbar {
    background-color: #fff;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 1.25rem;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.nav-item,
.main-nav li {
    text-align: center;
    margin: 15px auto;
    text-decoration: none;
}

.brand {
    display: inline-block;
    background-image: url("/resources/DATS24_vertical.png");
    margin-top: 10px;
    margin-left: 20px;
    width: 59;
    height: 60px;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: #586874;
    font-size: 34px;
}

.active {
    display: block;
}

.main-nav {
    transition: ease 1s;
}

.selected {
    color: #aac449;
}

@media screen and (min-width: 768px) {

    .nav {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        margin: 0;
    }

    .nav-item {
        margin-left: 40px;
        transition: 0.3s;
    }

    .selected:after, .nav-item::after {
        content: "";
        display: block;
        border-bottom: 3px solid #aac449;
        margin-left: 40px;
        padding-bottom: 5px;
        width: 0;
        transition: 0.5s;
    }

    .selected:after {
        width: 70%;
    }

    .nav-item:hover:after {
        width: 70%;
    }

    .selected, .nav-item:hover {
        color: #aac449;
    }

    .brand {
        margin: auto 0;
    }

    .navbar-toggle {
        display: none;
    }
}

/* --- HERO --- */
.hero {
    display: flex;
    position: relative;
    width: 100vw;
    background-image: url(../resources/roadmap.svg);
    min-height: 410px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -1;
}

.darken-pseudo {
    position: relative;
}

.darken-pseudo:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.3);
}

.hero-text {
    display: flex;
    align-self: center;
    flex-direction: column;
}

.darken-with-text h1 {
    margin: 0;
    font-size: 3em;
    color: white;
    position: relative;
    z-index: 3;
}

.dats {
    padding-bottom: 10px;
    border-bottom: 7px solid #aac449;
}

.darken-with-text p {
    margin: 0;
    color: white;
    font-size: 1.5em;
    z-index: 3;
    margin-top: 25px;
}

/* ---- HERO QUERIES -- */
@media screen and (max-width: 500px) {
    .hero-text {
        margin: 0 10px;
    }

    .darken-with-text h1 {
        font-size: 2em;
    }

    .darken-with-text p {
        font-size: 1em;
    }
}

/* --- SECTION 1 --- */

#section-1 {
    margin-top: -70px;
    margin-bottom: 100px;
}

.cards {
    margin-top: -55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    flex: 0 1 calc(33% - 1em);
    background-color: white;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    -webkit-box-shadow: 4px 10px 22px -8px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 4px 10px 22px -8px rgba(0, 0, 0, 0.58);
    box-shadow: 4px 10px 22px -8px rgba(0, 0, 0, 0.58);
}

.card img {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;

}

.card-content {
    margin: 15px 15px;
    margin-bottom: 25px;
}

.date {
    color: #00b5e2;
    margin: 15px 0;
}

.card-title {
    font-size: 2em;
    margin-bottom: 15px;
}

.green-bar {
    margin-top: -5px;
    height: 15px;
    background-color: #aac449;
}

.card-button {
    background-color: transparent;
    border: 1px solid #aac449;
    border-radius: 5px;
    color: #aac449;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 40%;
    margin-top: 15px;
    margin-left: 30%;
    margin-right: 30%;
    cursor: pointer;
    transition: 0.3s;
}

.card-button:hover {
    background-color: #aac449;
    color: white;
}

#more {
    display: none;
}

/* --- CARD QUERIES --- */

@media screen and (max-width: 919px) {
    .cards {
        flex-direction: column;
    }

    .card {
        margin: 0 auto;
        width: 95vw;
    }

    .card img {
        width: 95vw;
    }
}

@media screen and (max-width: 450px) {
    .cards {
        flex-direction: column;
    }

    .card {
        margin: 15px auto;
        width: 100vw;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }

    .card img {
        width: 100vw;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }
}

/* --- SECTION 2 --- */

#section-2 {
    background-color: #ebeeef;
    padding: 50px 0;
    padding-bottom: 100px;
    display: flex;
}

#section-2 h1 {
    text-align: right;
    margin-bottom: 50px;
    color: #586874;
}

.card-section-2 {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    -webkit-box-shadow: 4px 10px 22px -8px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 4px 10px 22px -8px rgba(0, 0, 0, 0.58);
    box-shadow: 4px 10px 22px -8px rgba(0, 0, 0, 0.58);
}

.flex-item {
    flex: 1 1 0;
}

.card-content-section-2 {
    margin: 25px 25px;
}

.green-bar-section-2 {
    width: 15px;
    background-color: #aac449;
}

.card-section-2 img {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

@media screen and (max-width: 900px) {
    .card-section-2 {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .card-section-2 img {
        width: 100vw;
    }

    .h1-right {
        margin-right: 15px;
    }

    .h1-left {
        margin-left: 15px;
    }

}

/* --------- FORM ------- */

#form {
    margin: 50px 0;
}

input[type=submit] {
    background-color: transparent;
    border: 1px solid #aac449;
    border-radius: 5px;
    color: #aac449;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 26%;
    margin-top: 15px;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 74%;
}

input[type=submit]:hover {
    background-color: #aac449;
    color: white;
    border: #aac449;
}

form {
    margin-top: 50px;
    border-radius: 5px;
    background-color: white;
    border: 2px solid #aac449;
    padding: 20px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    -webkit-box-shadow: 4px 10px 22px -8px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 4px 10px 22px -8px rgba(0, 0, 0, 0.58);
    box-shadow: 4px 10px 22px -8px rgba(0, 0, 0, 0.58);
}

.flex {
    display: flex;
}

label {
    margin: auto 15px;
}

input {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    border: transparent;
    border-bottom: 1px solid #aac449;
    box-sizing: border-box;
    color: #aac449;
}

.smaller {
    width: 60%;
    margin-right: 20%
}

.smallest {
    width: 50%;
    margin-right: 30%;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

@media only screen and (max-width: 650px) {
    .flex {
        flex-direction: column;
    }

    input {
        width: 100%;
    }

    label {
        margin-left: 0px;
    }

    form {
        border: none;
        border-bottom: 2px solid #aac449;
        border-top: 2px solid #aac449;
    }

}

/* -------- FOOTER ------- */

.footer-box {
    background-color: #586874;
    padding: 25px;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.columns {
    flex-shrink: 1;
    width: 230px;
}

.columns li {
    list-style: none;
}

.columns li a {
    margin-left: 55px;
    color: white;
    text-decoration: none;
    transition: .3s;
}

.columns li a:hover {
    color: #aac449;
}

.blue-line {
    background-color: #00b5e2;
    height: 45px;
}
